footer {
  padding: 2rem;
  background-color: #426bb9;
  font-size: var(--body-font-size-s);
  text-align: center;
  color: #FFF;
  font-size: 12px;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
  word-spacing: 5px;
}

footer .icon {
  height: 94px;
  width: 230px;
}